<div class="main-div">
  <div class="container1" >
    <div id="left-nav" class="nav" >
      <ul>
        <li><a class="logo"><b>VK</b></a></li>
        <li><a href="#">Product</a></li>
        <li><a href="index.html">Blog</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div id="right-nav" class="nav">
      <ul>
        
        <li><i class="bi bi-search"></i></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">VK Pro</a></li>
        <li><a href="#">VK Local</a></li>
        <li><a href="#">Free SEO tools</a> </li>
        <li><a href="login.html" style="color: deepskyblue">LogIn</a></li>
      </ul>
    </div>
  </div>
  <app-content></app-content>
  <app-footer-content></app-footer-content>
  
</div>